html, body {
   height: 100%;
}

body {
   background: url('wood.jpeg') top center no-repeat;
}

.list-area {
   overflow: auto;
}

.multi-list {
   margin: 0;
   padding: 0;
}

.multi-list li {
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   vertical-align: middle;
   border-bottom: 1px solid rgb(201, 228, 242);
   margin: 0;
   padding: 6px 10px;
   line-height: 36px;
   font-size: 20px;
}

.multi-list li:first-child {
   border-top: 1px solid rgb(201, 228, 242);
}

.multi-list li:hover {
   background-color: #FFFC17;
}

.multi-list li.selected {
   background-color: #FDD017;
}

ul.multi-list {
   list-style: none;
}

ul.multi-list li {
   list-style: none outside none;
}

.row-fluid.upper [class*="span"] {
   margin: 10px 10px 0px 10px;
}
.row-fluid.upper [class*="span"]:first-child {
   margin: 10px 10px 0px 15px;
}

.row-fluid.lower [class*="span"] {
   margin: 0px 10px;
}
.row-fluid.lower [class*="span"]:first-child {
   margin: 0px 0px 0px 15px;
}
span.label-info {
   padding: 3px 10px;
}

.list-page {
   border: 1px solid rgb(170, 170, 170);
   border-radius: 8px;
   background-color: rgb(255, 253, 219);
}

.list-page.full {
   margin: 5px 15px 10px 15px;
}

.list-page h1 {
   padding: 0 30px;
}

span.pop, span.tag {
   padding: 0 20px 0 0;
}

.modal-header h3 {
   text-align: center;
}

#login_fail_msg {
   margin-right: 20px;
}
